@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

:root{
    --height-head : 100px;
}

body{
    margin: 0%;
    background-color: white;    
    /* font-family: monospace, serif; */
}

#navHead{
    height: var(--height-head);
    background-color: #9d2523;
    display: block;
    width: 100%;
}

/*Left header content*/

#containerLeft{
    height: inherit;
    display: flex;
    width: 60%;
    float: left;
    align-items: center;
}

#LogoHeader{
    height: var(--height-head);
    float: 1;
}

#SearchHeader{
    margin-left: 20px;
    float: left;
    flex: 1;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.1);
    font-size: 20px;
    border: none;
    border-radius: 0.5em;
    padding: 0 0.8em;
    transition: 0.5s;
}

    #SearchHeader:focus{
        background-color: lightgrey;
        color : #9d2523;
        border: none;
        transform:scale(1.05);
        transform-origin: left;
        border-radius: 0.75em;
        margin-left: 30px;
        padding: 0 0.8em;
        outline: none;
    }

/*Right header content*/

#containerRight{
    align-items: center;
    vertical-align: middle;
    overflow: visible;
    height: var(--height-head);
    display: flex;
}

.headLinkBox{
    float: left;
    flex: 1;
    text-align: center;
    color: lightgrey;
    transition: 100ms;
    height: inherit;
    align-content: center;
}
.headLinkBox p{
    user-select: none;
    font-size: 25px;
    height: inherit;
}

    .headLinkBox:hover{
        overflow: visible;
        transform: scale(1.2);
        background-color: lightgrey;
        color: #9d2523;
        border-bottom-left-radius: 0.75em;
        border-bottom-right-radius: 0.75em;
    }

#EspaceEleve{
    transform-origin: right;
}

.textHeadLink{
    position: relative;
    top: 35%;
    margin: 0%;
}

/* data display */

.dividDisplay{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    border-radius: 0.75em;
    border: 5px solid #9d2523;
}

#topDisplay{
    font-size: 7vh;
    margin: 0;
    margin-top: 10vh;
    text-align: center;
    position: relative;
    left: 50%;    
    transform: translate(-50%);
}

#dataDisplay{
    border-radius: 0.75em;
    width: 180vh;
    background-color: lightgrey;
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    padding-top: 6vh;
    padding-bottom: 6vh;

    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 6vh;
}

.dataBox{
    border-radius: 0.75em;
    height:37vh;
    width: 37vh;
    float:none;
    flex: 1/4 1 20%;
    color: lightgrey;
    background-color: #9d2523;
    text-align: center;
}

.dataBoxHover{
    transition: 0.25s;
}

.dataBoxHover:hover{
    transform: scale(1.1);

}

.imgBox{
    width: inherit;
}


/* slide show */

.slideImg{
    display: none;
}

.active{
    display: block;
    width: 100vh;
    height: 50vh;
}

.active p{
    height: max-content;
}

.active img{
    height:calc(50vh - 10%);
}

/* les bouton */

.prev, .next {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

    .prev:hover, .next:hover{
        background-color: rgba(0,0,0,0.5);
        transform: scale(1.2);
    }

        .prev:hover{
            transform-origin: left;
        }
        .next:hover{
            transform-origin: right;
        }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* data slide show */
#dataSlide{
    border-radius: 0.75em;
    width: max-content;
    background-color: lightgrey;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 6vh;

}

#dataSlide .dataBox{
    width: 80vh;
    height: max-content;
    background-color: #9d2523;
    margin: 0%;
    padding: 0%;
}

#dataSlide .dataTitle{
    font-size: 4vh;
}

.captionSlide{
    font-size: 5vh;
    margin: 0%;
    margin-bottom: 10px;
}

.top{
    font-size: 7vh;
    margin: 0;
    margin-top: 10vh;
    text-align: center;
    position: relative;
    left: 50%;    
    transform: translate(-50%);
}

#footerContainer{
    padding-left: 10vh;
    padding-right: 10vh;
    align-items: center;
    vertical-align: middle;
    overflow: visible;
    height: var(--height-head);
    display: flex;
    background-color: #9d2523;
}

.footerBox {
    float: left;
    flex: 1;
    text-align: center;
    color: lightgrey;
    transition: 100ms;
    height: inherit;
    align-content: center;
}

    .footerBox:hover{
        overflow: visible;
        transform: scale(1.2);
        transform-origin: bottom;
        background-color: lightgrey;
        color: #9d2523;
        border-top-left-radius: 0.75em;
        border-top-right-radius: 0.75em;
    }

.footerBox p{
    vertical-align: middle;
    user-select: none;
    font-size: 25px;
    height: fit-content;
    position: relative;
    margin: 0%;
    padding-top: 5vh;
}

/* #region  incription Form */

#formOverlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    align-content: center;
}
#formDisplay{
    margin-top: 10vh;
    position: relative;
    display: none;
    top: 10vh;
    width: 70vh;
    height: 80vh;

    background-color: lightgray;

    left: 50%;
    transform: translate(-50%);
}

/* #region  close button */
#closeButton{
    top:10vh;
    position: relative;
    background: none;
    border: 0;
    color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    left: 50%;
    letter-spacing: 1.5px;
    line-height: 90px;
    outline: none;
    overflow: hidden;
    padding: 10px 0 0;
    text-transform: uppercase;
    transform: translate(-50%);
    transition: all 0.2s ease-in;
    width: 100px;
  }
  
  #closeButton::before, #closeButton::after {
    background-color: lightgray;
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    left: 0;
    transform-origin: center left;
    transition: all 0.2s ease-in;
    width: 141.4214px;
    z-index: -1;
  }
  
  #closeButton::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  #closeButton::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  
  #closeButton:hover {
    color: #9d2523;
  }
  
  #closeButton:hover::before,
  #closeButton:hover::after {
    height: 50px;
    transform: rotate(0deg);
  }
/* #endregion */
/* #endregion */

#ContainerLogRegister{
    display: flex;
    height: fit-content;
    margin-bottom: 36px;
}

.formOption{
    float: left;
    flex: 1;
    text-align: center;
    color: lightgrey;
    transition: 100ms;
    align-content: center;
    background-color: #9d2523;
    height: 46px;
    font-size: 16px;
}

.formOption a{
        position: relative;
        height: 10vh;
        top: 30%;
    }